version: '3.8'

services:
  app:
    build: .
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - DB_URI=mongodb://mongo:27017/docs-backend
      - JWT_SECRET=your_jwt_secret_here
      - GOOGLE_CLIENT_ID=your_google_client_id_here
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: